.news_page_base {
    width: 100%;
    height: max-content;
    /* background-color: pink; */

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}






.news_page_articles {
    width: 75%;
    height: 100%;
    /* background-color: aqua; */

    margin-top: 5rem;


    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2,1fr); */
    place-items: center;

    row-gap: 2rem;

}






.max_lines2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* Set the maximum number of characters to 20 */
    /* max-width: 40ch; */
    /* Truncate the text and show an ellipsis for the overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Wrap the text at word boundaries */
    white-space: break-word;
}

.max_lines1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* Set the maximum number of characters to 20 */
    /* max-width: 40ch; */
    /* Truncate the text and show an ellipsis for the overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Wrap the text at word boundaries */
    white-space: break-word;
}








.author_img_feed_page {
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
}


.feed_page_author_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}